/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("./assets/img/cielo.jpg");
   //que no se repita la imagen
  background-repeat: no-repeat;
  //que se ajuste al tamaño de la pantalla
  background-size: cover;
}
